* {
    padding:0;
    margin :0;
    box-sizing:border-box
}

.wrapper {
    position: absolute ;
    top: 0 ;
    left: 0 ;
    width: 100% ;
    height: 100vh;
    background-color: hls(220,20%,96%) ;
}